<div class="container-fluid">
<!-- Form Feild that will show only on click -->
<ng-container *ngIf="showAddForm">
  <form [formGroup]="taskForm" *ngIf="taskForm" (ngSubmit)="handleTaskSubmit()">
    <input type="date" name="date" formControlName="date" placeholder="Enter Date">
    <input type="text" name="task" formControlName="task"  placeholder="Enter task">
    <select name="priority" id="priority" formControlName="priority">
      <option value="1">Low</option>
      <option value="2">Medium</option>
      <option value="3">High</option>
    </select>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</ng-container>


<!-- table where we can show the list - Date Task, Priority and Action -->
 <table class="table table-bordered mt-4">
  <thead>
    <tr>
      <td>Date <button class="btn btn-primary" (click)="dateSort = !dateSort">{{dateSort ? 'DESC' : 'ASC'}}</button></td>
      <td>Task</td>
      <td>Priority <button class="btn btn-primary" (click)="prioritySort = !prioritySort; sortResponse()">{{prioritySort ? 'DESC' : 'ASC'}}</button></td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let taskItem of taskList">
      <tr>
        <td>{{taskItem?.date}}</td>
        <td>{{taskItem?.task}}</td>
        <td>
          <ng-container *ngIf="taskItem.priority === 1">
            Low
          </ng-container>
          <ng-container *ngIf="taskItem.priority === 2">
            Medium
          </ng-container>
          <ng-container *ngIf="taskItem.priority === 3">
            High
          </ng-container>
        </td>
        <td>
          <button class="btn btn-warning" (click)="editTaskItem(taskItem)">Edit</button>
          <button class="btn btn-danger" (click)="deleteTaskItem(taskItem)">Delete</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
 </table>
</div>